my_env
script_test.py
data/downloads
data
ETL/extract_a.py
Script_test
Script_test/data/downloads
estate.log
ETL/__pycache__
config.py
__pycache__
my_venv
Scripts_test_nootebook
data
Scripts_test_nootebook


dags
.astro
tests
airflow_settings.yaml
Dockerfile
packages.txt
.env
.dockerignore
plugins
include 
